body {
  padding: 2em 0 0 0;
  margin: 0;
}

.show {
}

.capcus-item {
  padding-bottom: 2em;
  h2 a {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

img.capture {
  max-width: 100%;
}

small {
  color: #999;
}
